.on_top {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0.5rem 1rem;
    background-color: var(--bg-color);
    color: var(--text-color);
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

.next_to_top {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    background: #2A7B9B;
    background: linear-gradient(90deg, rgba(42, 123, 155, 1) 0%, rgba(87, 199, 133, 1) 100%, rgba(237, 221, 83, 1) 100%);
}

.header__wrapper{
    display: flex;
    justify-content: space-between;
}

.header__link:hover {
    color: brown;
}

.header__link {
    text-decoration: none;
    color: var(--text-color);
    padding-right: 1rem; 
}


