.on_top {
    display: flex;
    justify-content: space-between;
    align-items:inherit;
    padding: 0.5rem 1rem;
    background-color: var(--bg-color);
    color: var(--text-color);
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    transition: color 0.25s;
    
}

.next_to_top {
    margin: 0;
    padding: 0;
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    position: top;
  transition: color 0.25s;
   
    background: -webkit-linear-gradient(360deg, #3f99d5,#245ccc,#465d72);/* Chrome 10-25, Safari 5.1-6 */                      
}
.header__wrapper{
    display: flex;
    justify-content: space-between;
}

.header__link:hover {
    color: rgb(255, 0, 0);
}

.header__link {
    text-decoration: none;
    color: var(--text-color);
    padding-right: 1rem; 
}

.logo {
    text-decoration: none;
    color: var(--text-color);
    padding-right: 1rem;
    font-size: xx-large;
    padding-left: 1rem;
}

.logo:hover{
    color:rgb(255, 0, 0);
}



