.attractions-wrapper {
    
    display: grid;
    margin: 0;
    padding: 0;
    width: 500px;
    grid-template-columns: (1fr repeat(3));
}

.attraction-card {
    border: 1px solid #ccc;
    margin-bottom: 12px;
    padding: 30px;
    width: 500px;
    height: 500px;
    border-radius: 20px;
}

.attraction-card__image{
    width: 100%;
    object-fit: cover;
    border-radius: 20px;
}